<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gm.dao.function.FunctionMapper">
	<!-- getMainFunctionList -->
	<select id="getMainFunctionList" resultType="function" parameterType="authority">
		SELECT * FROM au_function WHERE ID 
			IN (SELECT functionId FROM au_authority WHERE parentId=0 AND roleId=#{roleId})
	</select>
	
	<!-- getSubFunctionList -->
	<select id="getSubFunctionList" resultType="function" parameterType="function">
		SELECT * FROM au_function WHERE parentId=#{id} AND id 
			IN (SELECT functionId FROM au_authority WHERE roleId=#{roleId})
	</select>
	
	<!-- getSubFuncList -->
	<select id="getSubFuncList" parameterType="function" resultType="function">
		select * from au_function where parentId = #{id}
	</select>
	
	<!-- getFunctionListByIn -->
	<select id="getFunctionListByIn" parameterType="string" resultType="function">
		select * from au_function where id in(${sqlStr})
		or parentId in(select id from au_function where id in(${sqlStr}) and parentId > 0)
		or parentId = 999
	</select>
	
	<!-- getFunctionListByRoleId -->
	<select id="getFunctionListByRoleId" parameterType="authority" resultType="function">
		select * from au_function where id in(select functionid from au_authority where roleId = ${roleId})
		and parentId > 0
	</select>

</mapper>